global:
  resolve_timeout: 5m

route:
  receiver: local-webhook
  group_by:
    - alertname
    - instance
    - severity
  group_wait: 5s
  group_interval: 10s
  repeat_interval: 1h

receivers:
  - name: local-webhook
    webhook_configs:
      - url: http://__ALERT_WEBHOOK_HOSTPORT__/alerts
        send_resolved: true